<% provide(:title, "All Groups") %>
<h1>Groups Directory</h1>    

<% if can? :manage, Group %>
  <%= link_to 'Create new group', new_group_path, class: "btn btn-primary" %>
<% end %>

<%= form_tag(users_path, method: "get", class: "form-search pull-right") do %>
  <%= text_field_tag(:search, params[:search], :class=>"search-query span3", 
                     :placeholder=>"Search...") %>
<% end %>

<table class="table table-hover">
  <tr>
    <th>Full Name</th>
    <th>No. Participants</th>
  </tr>
  <%= render @groups %>
</table>

<%= paginate @groups, window: 2 %>

